<% if @error_message %>
<%=@error_message%>
<%end%>
<h1>
  <%= link_to("支出","/outgoing") %>
  <%= link_to("収入","/incoming") %>
</h1>
<%= form_with url:posts_in_url do |f| %>
  <%= f.label "日付" %>
  <%= f.date_field :date %>
  <br>
  <%= f.label "メモ" %>
  <%= f.text_field :memo %>
  <br>
  <%= f.label "収入" %>
  <%= f.number_field :incoming, value:0 %>円
  <br>
  <%= f.label "カテゴリー" %>
  <% @in_categories.each do |category| %>
    <%= f.radio_button :category ,category.id %>
    <%= f.label :category, category.name %>
  <%end%>
  <br>
  <%= f.submit "入力" %>
<% end %>
