<h3>総支出:<%= @sumOut%>円　　総収入:<%= @sumIn%>円　　合計:<%= @sumIn-@sumOut%>円</h3>
<% @posts.each do|post|%>
  <div>
    <% if post.budget_type == 0 %>
      <div>
        <%=link_to("支出:#{post.price}円","/posts/#{post.id}") %>
        <% if post.memo.present? %>
          （メモ：<%= post.memo %>）
        <% end %>
      </div>
    <% else %>
      <div>
        <%=link_to("収入:#{post.price}円","/posts/#{post.id}") %>
        <% if post.memo.present? %>
          （メモ：<%= post.memo %>）
        <% end %>
      </div>
    <% end %> 
  </div>
<%end%>
