<div>
<% if @post.budget_type == 0 %>
  <div>
    支出:<%= @post.price %>円
    <% if @post.memo.present? %>
      （メモ：<%= @post.memo %>）
    <% end %>
  </div>
<% else %>
  <div>
    収入:<%=@post.price%>円
    <% if @post.memo.present? %>
      （メモ：<%= @post.memo %>）
    <% end %>
  </div>
<% end %>
<br>
<div>日付:<%= @post.date %></div>
<br>
<div>カテゴリー:<%= @category.name %></div>
<div>
    <ul>
      <li>
        <%= link_to("編集","/posts/#{@post.id}/edit") %>
      </li>
      <li>
        <%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %>
      </li>
    </ul>
</div>
